<div class="container">
  <!-- Content here -->

<br>


<h1>Editing Attendance</h1>

<%= render 'form', attendance: @attendance %>

<%= link_to 'Show', event_attendance_path(@attendance.event.id) %> |
<%= link_to 'Back', event_attendances_path(@attendance.event.id) %>
</div>